{% extends 'base.html' %}


{% block title%} {{ post.body }} {%endblock%}

{% block content%}
    <br></br>
    <div class="row justify-content-md-center align-items-center">
        <div class="card d-flex p-3">
            <a class="text-white"> <h4> {{post.body}}</h4> </a>
            <img src="{{post.image.url}}">
            <h5>Comentarios</h5>
            </br>
            {% if not post.comments.all %}
                Todavía no hay ningún comentario... 
                <br></br>
                <a href="{% url 'add_comment' post.pk %}">Añadir comentario</a>
                <br></br>
            {% else %}
                <a href="{% url 'add_comment' post.pk %}">Añadir comentario</a>
                </br>
                {% for comment in post.comments.all %}
                    <p class="font-weight-bold"> {{ comment.user }} - {{ comment.date }} </p> 
                    {{ comment.body }}
                    <div class = "col">
                        <span class="float-right">
                            <p class="font-weight-bold">
                                <a href="{{comment.increaseLikes}}">
                                    <img src="/HistMat/static/img/upvote.png" width="20">
                                </a>
                                {{ comment.likes }}
                                <a href="{{comment.decreaseLikes}}">
                                    <img src="/HistMat/static/img/downvote.png" width="23">
                                </a>
                            </p>
                        </span>
                    </div>
                    <br></br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <br></br>
{% endblock %}