{% extends 'base.html' %}
{% load i18n %}
{% block title %} HistMat | Forum {% endblock %}

{% load static %}

{% block css%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">  

	<script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js'></script>

{% endblock %}

{% block js%}
<script type="text/javascript">     window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
<script>
	var fab = new Vue({
		el: '#fab-container',
		data: {
			create_url: "{% url 'forum:add_post' %}"
		},
		methods: {
			fab_action: function (event) {
				window.location = this.create_url;
			}
		}
	})
</script>

<script>
	$(document).ready(function(){

		$(".like-button").click(function(){
			let pk  = $(this).attr('pk');
			$.ajax({
				type: "POST",
				url: "post_detail/" + pk + "/upvote",
				dataType:'json',
				data: {
					csrfmiddlewaretoken: window.CSRF_TOKEN
				},
				success: (json) =>{
					if($(this).hasClass('far')){
						$(".like-count-" + pk).text(parseInt($(".like-count-" + pk).text())+1);
						$(this).addClass('fas');
						$(this).removeClass('far');
					}else{
						$(".like-count-" + pk).text(parseInt($(".like-count-" + pk).text())-1);
						$(this).addClass('far');
						$(this).removeClass('fas');
					}
					
				},
				error: function(result) {
					alert('error');
				}
			});
		});
	});
</script>

   
{% endblock %}

{% block content %} 
<div class="container">
	<ul class="row infinite-container justify-content-md-center align-items-center">
		{% load like_tags %}
		{% for post in posts %}
			<li class="card d-flex p-3 my-2 infinite-item">
					<p> {% trans 'Enviado por'%} <a href="{{post.user.get_absolute_url}}"> {{ post.user }}</a> . {{ post.date }} </p>
					<h3>
						<a class="font-weight-bold" href="{{post.get_absolute_url}}">
							{{ post.body }}
						</a>
					</h3>
					<div>
						{% if post.image %}
							<a href="{{post.get_absolute_url}}">
								<img class="rounded" src="{{post.image.url}}" width="750">
							</a>
						{% else %}
							<p class="font-weight-bold my-3"> {% trans 'Sin Imagen'%} </p>
							<img src="/HistMat/static/img/blanco.jpg" width="750" height="1">
						{% endif %}
					</div>	
					<div class="col">
						{% is_liked post user as post_liked %}
						<i class="{% if post_liked%}fas{%else%}far{% endif%} fa-thumbs-up like-button mt-2" pk='{{post.pk}}'></i> 
						<span class="like-count-{{post.pk}} font-weight-bold">{{ post.likes }}</span> 
					</div>
				</li>
			
		{% endfor%}
		</ul>
	{% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
	{% endif %}
	
	<div class="d-flex justify-content-center" style="display:none;">
        <div id="loading-icon" class="spinner-border" role="status" style="display:none;">
            <span id="spd" class="sr-only">{% trans 'Cargando' %}...</span>
        </div>
    </div>
</div>


<script>
$(document).ready( function() {
	var infinite = new Waypoint.Infinite({
		element: $('.infinite-container')[0],
		onBeforePageLoad: function () {
			$('#loading-icon').show();
		},
		onAfterPageLoad: function ($items) {
			$('#loading-icon').css("display","none");
		}
	});
});
</script>

{% if user.is_authenticated %}
	{% include 'widgets/fab.html'%}
{% endif%}

{% endblock %}