{% extends 'base.html' %}
{% load i18n %}
{% block title %} HistMat | Forum {% endblock %}

{% load static %}

{% block css%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">  
{% endblock %}

{% block js%}

<script>
	var fab = new Vue({
		el: '#fab-container',
		data: {
			//Data
			create_url: "{% url 'forum:add_post' %}"
		},
		methods: {
			fab_action: function (event) {
				//Action
				window.location = this.create_url;
			}
		}
	})
</script>

<script>
	$(document).ready(function(){
		$(".like-button").click(function(){
			let pk  = $(this).attr('pk');
			$.ajax({
				type: "POST",
				url: "post_detail/" + pk + "/upvote",
				dataType:'json',
				data: {},
				success: function(result){
					$(".like-count-" + pk).text(parseInt($(".like-count-" + pk).text())+1);
				},
				error: function(result) {
					alert('error');
				}
			});
		});
	});
</script>
{% endblock %}

{% block content %} 
<div class="container">
	<div class="row justify-content-md-center align-items-center">
		{% for post in posts %}
			<div class="card d-flex p-3 my-2">
					<p> {% trans 'Enviado por'%} <a href="{{post.user.get_absolute_url}}"> {{ post.user }}</a> . {{ post.date }} </p>
					<h3>
						<a class="font-weight-bold" href="{{post.get_absolute_url}}">
							{{ post.body }}
						</a>
					</h3>
					<div>
						{% if post.image %}
							<a href="{{post.get_absolute_url}}">
								<img class="rounded" src="{{post.image.url}}" width="750">
							</a>
						{% else %}
							<p class="font-weight-bold my-3"> {% trans 'Sin Imagen'%} </p>
							<img src="/HistMat/static/img/blanco.jpg" width="750" height="1">
						{% endif %}
					</div>	
					<div class="col">
						<i class="fa fa-thumbs-up like-button mt-2" pk='{{post.pk}}'></i> 
						<span class="like-count-{{post.pk}} font-weight-bold">{{ post.likes }}</span> 
					</div>
				</div>
			
		{% endfor%}
	</div>
</div>
{% if user.is_authenticated %}
	{% include 'widgets/fab.html'%}
{% endif%}

{% endblock %}