{% extends 'base.html' %}
{% load i18n %}

{% block title%} HistMat | Forum | {{ post.body }} {%endblock%}

{% block content%}
    <div class="container">
    	<div class="row justify-content-md-center align-items-center">
        	<div class="card d-flex p-3 my-3">
                <div class="card border-0 mx-3">
                    <p> {% trans 'Enviado por'%} 
                        <a href="{{post.user.get_absolute_url}}"> {{ post.user }}</a> . {{ post.date }} </p>
                    <h3 class="font-weight-bold"> {{post.body}}</h3> 
                    {% if post.image %}
				        <img class="rounded" src="{{post.image.url}}" width="900">
                    {% else %}
                        </br>
                        <img src="/HistMat/static/img/blanco.jpg" width="900" height="1">
				        <p class="font-weight-bold"> {% trans 'Sin Imagen'%} </p>
                    {% endif %}
                    <h3 class="font-weight-bold my-3">{% trans 'Comentarios'%}</h3>
                    <div>
                        {% load crispy_forms_tags %}
                        <form method="POST" action="{% url 'forum:post_detail' post.pk %}add_comment">
                            {% csrf_token %}
                            {{comment_form|crispy}}
                            {% if user.is_authenticated %}
                                <input type="submit" class="btn btn-primary">
                            {% else %}
                                <a href="#" class="btn btn-primary disabled"> {% trans 'Enviar Comentario'%}</a>
                            {% endif%}
                        </form>
                    </div>
                    </br>
                        {% for comment in post.forum_comments.all %}
                        <hr>
                            <strong> <a href="{{comment.user.get_absolute_url}}"> {{ comment.user }}</a> </strong>
                            {{ comment.body }}
                            
                        {% empty %}
                         <p>{% trans 'No hay comentarios todavia...'%}<p>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}