html, body {
    height: 100%;
    margin: 0;
    
}
body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.no-style-a{
    color: inherit;
    text-decoration:none;
}

.no-style-a:link {
  color: inherit;
  text-decoration:none;

}

.no-style-a:hover {
  color: inherit;
  text-decoration:none;

}