@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
}

* {
    font-family: "San Francisco"   
}

#main-content{
    background-color: #ddddee;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.no-style-a{
    color: inherit;
    text-decoration:none;
}

.no-style-a:link {
  color: inherit;
  text-decoration:none;

}

.no-style-a:hover {
  color: inherit;
  text-decoration:none;

}
.inner-shadow {
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
 }

 .correct-shadow{
    box-shadow: 0 0 5pt 2pt #00ee00 !important;
 }

 .rcorners2 {
    border-radius: 20px;
  }

 .rcornerst {
    border-radius: 20px 20px 0px 0px;
  }

  .rcornersb {
    border-radius: 0px 0px 20px 20px;
  }