<transition name="modal">
    <div class="modal-mask">
    <div class="modal-wrapper">
        <div class="modal-container">

        <div class="modal-header">
            <slot name="header">
                Create a New Question
            </slot>
        </div>

        <div class="modal-body">
            <slot name="body">
                <div>
                    <label>Question</label>
                    <input type="text" v-model="question.question">
                </div>
                <div class="flex d-flex flex-row flex-nowrap p-3 m-2">
                    <input type="radio" id="question_type_text" value="text" v-model="question.type" @click="set_type('text')">
                    <label for="question_type_text" class="mr-3">Text</label>
                    <input type="radio" id="question_type_multi" value="multi" v-model="question.type" @click="set_type('multi')">
                    <label for="question_type_multi">Choice</label>
                    
                </div>
                <span>Eligió: [[question.type]]</span>
                <div>
                    <div v-if="question.type=='text'">
                        <input type="text" v-model="question.answer">
                    </div>
                    <div v-if="question.type=='multi'">
                        <ul id="choice_list">
                            <li v-for="i in question.answer.length">
                                <input type="text" v-model="question.answer[i-1]"> 
                            </li>
                        </ul>
                        <button @click="create_option()">Nueva Opcion</button>
                    </div>
                </div>
                
                <div>
                    <p>Pregunta: [[question.question]]</p>
                    <p>Respuesta: [[question.answer]]</p>
                </div>

                <div>
                    <div v-if="question.type===''">
                        <a id="new_question_submit_disabled" class="btn btn-primary disabled" role="button" aria-disabled="true">Enviar</button>
                    </div>
                    <div v-else>
                        <button id="new_question_submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
                
            </slot>
        </div>

        <div class="modal-footer">
            <slot name="footer">
            default footer
            <button class="modal-default-button" @click="$emit('close')">
                OK
            </button>
            </slot>
        </div>
        </div>
    </div>
    </div>
</transition>