.quiz-card-a{
    min-width: 200px;
    min-height: 100px;
    max-width: 400px;
    max-height: 200px;

}

.quiz-card-a,.quiz-card-a:visited {
    text-decoration: none;
    color:white;
    opacity: 0.8;
    transition: 0.3s;
}
.quiz-card-a:hover, .quiz-card-a:active{
    text-decoration: none;
    color:white;
    opacity: 1;
}

