<p id="question-id">{{question.question}}</p>
<p id="answer-tt"></p>

{% for answer in answers%}
    <button class="mc-answer" id="question-answer" q_pk = "{{forloop.counter}}">{{answer.answer}}</button>
{% empty%}
    <input type="text" id="t-text-answer">
    <button class="t-answer" id="question-answer">SEND</button>
{% endfor %}

<script>

    var answer = "";

    function send_get_asnwer_correct_ajax(){
        $.ajax({
            type: "POST",
            url: "/trivia/quiz/{{quiz.pk}}/question/"+number_question+"/answer/",
            data: { 
                csrfmiddlewaretoken: '{{ csrf_token }}',
                answer: answer
            },
            success: function(result) {
                $('#answer-tt').empty();
                $('#answer-tt').append(result['result'].toString());
                
            },
            error: function(result) {
                alert('error');
            }
        }); 
    };

    $(document).ready(function() {
        $('#question-answer').click( function(e){
            e.preventDefault();
            alert('pp3');
            if ($(this).attr('q_pk')){
                alert('pp2');
                answer = $(this).attr('q_pk');
                alert("La respuesta es " + answer.toString());
            } else {
                alert('pp');
                answer = $('#t-text-answer').val();
            }
            send_get_asnwer_correct_ajax();
        });
    });
</script>