{% extends 'base.html' %}


{% block title%} HistMat | {{ apunte.titulo }}{%endblock%}

{% block content%}
<div class="card" style="width: 70rem;">


	<div class="card-body">
		<h5 class="card-title">
        {{apunte.nombre}}
		</h5>
		<a class="btn btn-default" href="{% url 'apuntes:apuntes_remove' pk=apunte.pk %}"><i class="fa fa-trash"></i></a>
		{% if apunte.documento%}
		<a class="btn w-100 btn-success" href="{{apunte.documento.url}}"> PDF </a>
		{% else %}
		<a class="btn w-100 btn-success disabled" > PDF </a>
		{% endif %}
		
	 
		
		
	</div>
</div>
{% endblock %}