{% extends 'base.html' %}

{% block title %} HistMat | Apuntes {% endblock %}

{% load static %}

{% block css%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">  
{% endblock %}

{% block js%}

<script>
	var fab = new Vue({
		el: '#fab-container',
		data: {
			//Data
			create_url: "{% url 'apuntes:add_apuntes' %}"
		},
		methods: {
			fab_action: function (event) {
				//Action
				window.location = this.create_url;
			}
		}
	})
</script>
{% endblock %}


{% block content%}
<div class="container mt-3">
	{% for apunte in apuntes%}

	<div class="card d-flex p-3 my-2 flex-row shadow">
		<div class="row no-gutters">
			<div class="col-md-4">
				<a href="{{apunte.get_absolute_url}}">
					{% if apunte.thumbnail %}
						<img src="{{apunte.thumbnail.url}}" alt="{{apunte.nombre}} cover" style="width:200px;">
					{% else %}
						{% load static %}
						<img src="/HistMat/media/no_image.jpg" alt="{{book.title}} cover" style="width:200px;">
					{% endif %}
				</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<a href="{{apunte.get_absolute_url}}">
					<h5 class="card-title">
						{{ apunte.nombre }}
					</h5>
				</a>
				<p class="card-text">
					Creado por <a href ="{{apunte.autor.get_absolute_url}}"> 
						{{ apunte.autor }}
					</a>, {{ apunte.creado }}
				</p>
				<p class="card-text">
					Tamaño del archivo: {{ apunte.tamaño }}
				</p>
				<p class="card-text">
					Numero de paginas: {{ apunte.paginas }}
				</p>
				<p class="card-text">
					Tipo de archivo: {{ apunte.tipo }}
				</p>
				<span>Categorias: {% for category in apunte.categoria.all %}
						<span class="badge badge-success m-1">{{category}}</span>
					 {% empty %}
					 	<span class="badge badge-danger m-1">Ninguna</span>
					 {% endfor%}</span>
			</div>
		</div>		
	</div>
	
	{% endfor%}
</div>

	{% include 'widgets/fab.html'%}

{% endblock%}