{% extends 'base.html' %}

{% block title %} HistMat | Apuntes {% endblock %}
{% load i18n %}
{% load static %}

{% block css%}
	<link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">  
{% endblock %}

{% block js%}

<script>
	var fab = new Vue({
		el: '#fab-container',
		data: {
			//Data
			create_url: "{% url 'apuntes:add_apuntes' %}"
		},
		methods: {
			fab_action: function (event) {
				//Action
				window.location = this.create_url;
			}
		}
	})
</script>
{% endblock %}


{% block content%}
<div class="container mt-3">
	{% for apunte in apuntes%}

	<div class="card d-flex p-3 my-2 flex-row shadow">
		<div class="row no-gutters">
			<div class="col-md-4">
				<a href="{{apunte.get_absolute_url}}">
					{% if apunte.thumbnail %}
						<img src="{{apunte.thumbnail.url}}" alt="{{apunte.nombre}} cover" style="width:200px;">
					{% else %}
						{% load static %}
						<img src="/HistMat/media/no_image.jpg" alt="{{book.title}} cover" style="width:200px;">
					{% endif %}
				</a>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<a href="{{apunte.get_absolute_url}}">
					<h5 class="card-title">
						{{ apunte.nombre }}
					</h5>
				</a>
				<p class="card-text">
					{% trans 'Creado por' %} <a href ="{{apunte.autor.get_absolute_url}}"> 
						{{ apunte.autor }}
					</a>, {{ apunte.creado }}
				</p>
				<p class="card-text">
					{% trans 'Tamaño del archivo' %}: {{ apunte.tamaño }}
				</p>
				<p class="card-text">
					{% trans 'Número de páginas' %}: {{ apunte.paginas }}
				</p>
				<p class="card-text">
					{% trans 'Tipo de archivo' %}: {{ apunte.tipo }}
				</p>
				<span>{% trans 'Categoria' %}: {% for category in apunte.categoria.all %}
						<span class="badge badge-success m-1">{{category}}</span>
					 {% empty %}
					 	<span class="badge badge-danger m-1">
							{% trans 'Ninguna' %}
						 </span>
					 {% endfor%}</span>
			</div>
		</div>		
	</div>
	
	{% endfor%}
	<ul class="pagination">
		{% trans 'Página: '%}
		{% if page_obj.has_previous %}
			<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
		{% endif %}

		{% for i in paginator.page_range %}
			<li {% if page_obj.number == i %} class="active" {% endif %}>
				<a href="?page={{i}}">{{ i }}</a>
			</li>
		{% endfor %}

		{% if page_obj.has_next %}
			<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
		{% endif %}
	</ul>
</div>

	{% include 'widgets/fab.html'%}

{% endblock%}