{% extends 'base.html' %}


{% block title%} HistMat | {{ apunte.titulo }}{%endblock%}

{% block content%}
<div class="card" style="width: 70rem;">


	<div class="card-body">
		<h5 class="card-title">
        {{apunte.nombre}}
		</h5>
		<a class="btn btn-default" href="{% url 'apuntes:apuntes_remove' pk=apunte.pk %}"><i class="fa fa-trash"></i></a>
	 <p> {% if apunte.documento %}
			<a href="{{apunte.get_absolute_url}}">
				<img src="{{apunte.documento.url}}" class="rounded mx-auto d-block" alt="{{apunte.titulo}} cover" style="width:1000px;">
			</a>
			{% else %}
			<p> No hay imagen </p>
			{% endif %}
		</p>
		
	 
		
		
	</div>
</div>
{% endblock %}