
  
  figure {
    overflow: hidden;
  }
  .real-frame{
  }
  /* Craeted refering to LittleSnippets.net Pen: https://codepen.io/littlesnippets/pen/adLELd */
  .frame {
    text-align: center; 
    position: relative;
    cursor: pointer;  
    perspective: 500px; 
  }
  .frame img {
    width: 300px;
    height: 300px;
  }
  .frame .details {
    width: 100%;
    height: 100%;  
    padding: 5% 8%;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50%;
    background: rgba(135,135,235,0.6);  
    opacity: 0;
    transition: all 0.4s ease-in;
    
  }
  .real-frame:hover .frame .details {
    transform: translate(-50%, -50%) ;
    opacity: 1;
  }
  .real-frame:hover .frame .details a  {
    transform: translate(0, -20%) ;
  }

  .real-frame .extended-details {
    opacity: 0;
    visibility: hidden;
    position:absolute;
    bottom:10px;
    transition: visibility 0s, opacity 0.5s linear;
  }
  .real-frame  .detailed-details {
    transition: all 0.4s ease-in;
  }
  .real-frame:hover  .detailed-details {
    transform: translate(0,-70%) ;
  }
  .real-frame:hover .extended-details {
    opacity: 1;
    visibility: visible;
  }
  
  .thumb-button {
    transition: 0.4s;
  }
  .thumb-button.valid.search:hover {
    color: cyan!important;
    border-color: cyan!important;
  }
  .thumb-button.invalid.file:hover {
    color: red!important;
    border-color: red!important;
  }
  .thumb-button.valid.file:hover {
    color: greenyellow!important;
    border-color: greenyellow!important;
  }