{% extends 'base.html' %}

{% load static %}
{% block css%}
    <link href="{% static 'css/Trivia/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/Trivia/quiz.css' %}" rel="stylesheet">
    <link href="{% static 'css/colors.css' %}" rel="stylesheet">
    {% if is_own_quiz%}
        <link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">  
        <link href="{% static 'css/Trivia/modal.css' %}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block js%}

<script>
    $(document).ready(function(){
        console.log("Changing quiz detail logo color");
        var css_colors = ["green","blue","orange","pink","red"];
        $("#quiz-detail-logo").css("background-color", "var(--quiz-"+css_colors[Math.floor((Math.random() * 5))]+")");
        console.log("Changed quiz detail logo color");
    });
</script>

    {% if is_own_quiz%}
        <script>
            var fab = new Vue({
                el: '#fab-container',
                data: {
                    create_url: "{% url 'trivia:quiz_update' quiz.slug%}"
                },
                methods: {
                    fab_action: function (event) {
                        window.location = this.create_url;
                    }
                }
            });
        </script>
        <script type="text/x-template" id="modal-template">
            {% include "Trivia/Quiz/Question/new_question.html" %}
        </script>
        <script src="{% static 'js/Trivia/question_edit_list.js' %}"></script>
    {% endif %}
{% endblock %}

{% block content %}

<div id="quiz-detail-logo" class=" w-100 p-3 d-flex text-align-center">
    <h1 class="text-white">{{quiz.name}}</h1>
</div>
<div class="container-fluid p-5">
    <p> Creado por {{quiz.creator}} el {{quiz.created}} y {{is_own_quiz}}</p>
    <div>
        <p>
            {{quiz.description}}
        </p>
    </div>
    <a id="quiz-play-button" class="btn btn-primary" href="{% url 'trivia:quiz_play' quiz.slug %}">Play</a>

    {% if is_own_quiz %}
    <div id="question_list" >
        <button onclick="newQuestionDialog()">New question</button>
        
        <button id="show-modal" @click="showModal = true">Show Modal</button>
        <div class="flex-column d-flex">
            {% for question in question_lista %}
                <p> Existe {{question.question}} : {{question.question_type}}</p>
                {% if question.question_type == "text"%}
                    {% include 'Trivia/Quiz/Question/edit_text.html' with question=question%}
                {% elif question.question_type == "multichoice"%}
                    {% include 'Trivia/Quiz/Question/edit_multi.html' with question=question%}
                {% endif %}
            {% empty%}
            <p> Vacio?</p>
            {% endfor %}
        </div>
        
        <modal v-if="showModal" @close="showModal = false">
        
        
    </div>
    {% endif %}
</div>

{% if is_own_quiz%}
    {% include 'widgets/fab.html' with icon="fa-cog"%}
{% endif %}



{% endblock %}