<li class="item card m-2 draggable infinite-item real-frame col-xs-6" b_slug="{{book.slug}}" style="max-width:200px;"> 
    <div class="frame">
        {% if book.cover %}
            <img src="{{book.cover.url}}" alt="{{book.title}} cover" class="img-fluid">
        {% else %}
            {% load static %}
            <img src="/HistMat/media/no_image.jpg" alt="{{book.title}} cover" class="img-fluid">
        {% endif %}


        <div class = "details jumbotron d-flex align-items-center">
            <div class="container">
                {% if book.book_file%}
                    <a class="btn btn-primary align-middle text-white bg-transparent bold file-button valid" href="{{book.book_file.url}}" style="border: white 3px solid;">
                        <span style="font-size:large;">File</span>
                    </a> 
                {% else %}
                <a class="btn btn-primary align-middle text-white bg-transparent bold file-button invalid" href="#" style="border: white 3px solid;">
                    <span style="font-size:large;">No File</span>
                </a>
                {% endif %}
                
            </div>
        </div>
    </div>
    
    <div class="detailed-details bg-light">
        <div class="p-1">
            <a href="{{book.get_absolute_url}}" >
                <span class="book-info">{{book.title}}</span>
            </a>
            <div >
                <span class="book-info">By {{book.author}}</span>
            </div>
        </div>
        
    </div>
    <div class="extended-details p-1">
        <span>More info</span>
    </div>
        
</li>