<div class="bg-white border-right" id="sidebar-wrapper">
    <!-- TODO make default settings by cookies-->
    <h3 class="font-weight-bold text-center">catalog Options </h3>

    

    <div class="p-3 mt-3">
        <h4 class="b-3">Search</h4>
          <div class="form-group mb-4 border-0">
              <input id="exampleFormControlInput1" type="search" name="search" placeholder="What are you searching for?" class="form-control form-control-underlined">
          </div>
    </div>
    
    <hr>
     
     <div>
      <h4 class="px-3"> State Filter </h4>
      
      <div id="book-state-cb" class="d-flex flex-column p-2">
        <div>
          <input type="checkbox" class="cb_filter_selector" value="want_to_read" id="cb-want-to-read">
          <label for="cb-want-to-read"> Want to Read</label><br>
        </div>
        <div>
          <input type="checkbox" class="cb_filter_selector" value="reading" id="cb-reading">
          <label for="cb-reading"> Reading</label><br>
        </div>
        <div>
          <input type="checkbox" class="cb_filter_selector" value="read" id="cb-read">
          <label for="cb-read"> Read</label><br>
        </div>
        
        
        
      </div>
    </div>
     <hr>

     <!-- Orden -->
     <form action="" method="POST" target="">
      <h4 class="px-3"> catalog Order </h4>
        <div class="btn-group d-flex flex-column" data-toggle="buttons">
          
            <label >
              <input  type="radio" name="filter-order" value="order-last-added">
              Last Added
            </label>
          
            <label  >
            <input type="radio" name="filter-order"  value="order-first-added">
            First Added</label> 
          
            <label >
              <input type="radio" name="filter-order"value="order-last-visited">
            Last Visited</label> 
          
          
          
          <!-- TODO make on click send AJAX-->
        </div>
        
    
    </form>

     <button class="btn btn-primary"> Save as Defautl</button>
    
</div>