{% extends 'base.html' %}
{% load i18n %}

{%block title%}
    HistMat | {{book.title}}
{% endblock %}

{% load static %}
{% block js%}

    {% csrf_token %}
    <script type="text/javascript">     window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
    <script src="{% static 'js/Biblio/general.js' %}"> </script>
    <script src="{% static 'js/Biblio/widgets.js' %}"> </script>
    <script src="{% static 'js/Biblio/book_detail.js' %}"> </script>

    {% if has_book%}
    <script>
        var fab = new Vue({
            el: '#fab-container',
            data: {
                update_url: "{% url 'biblio:book_update' book.slug%}"
            },
            methods: {
                fab_action: function (event) {
                    window.location = this.update_url;
                }
            }
        })
    </script>
    {% endif %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/widgets/rating.css' %}">    
    {% if has_book %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">  
    {% endif %}
{% endblock %}

{% block content %}
<input id="book_slug" type="hidden" value="{{book.slug}}">
<div class="p-5">
    <div class="card container-fluid bg-light shadow p-5">
        <div class="row">
            <!-- Left Sector -->
            <div class="col">
                <div class="row">
                    {%if book.cover%}
                        <img src="{{book.cover.url}}" class="img-fluid" alt="{{book.title}} cover">

                     {% else %}
                     {% load static %}
                        <img src="/HistMat/media/no_image.jpg" alt="{{book.title}} cover" class="img-fluid">
                    {%endif%}
                </div>
                <div class="row pt-2">
                    {% if book.book_file%}
                        <a class="btn w-100 btn-success" href="{{book.book_file.url}}">
                             <span> <i class="fa fa-file-pdf"></i> Book File</span>
                        </a>
                    {% else %}
                        <a class="btn w-100 btn-success disabled" > 
                            <span> <i class="fa fa-empty-set"></i> Book File </span> 
                        </a>
                    {% endif %}
                    
                </div>
            </div>

            <!-- Middle Sector -->
            <div class="col-6">
                <h1>{{book.title}}</h1>
                <p> Escrito por {{book.author}}</p>
                <p> {{book.description}}</p>
                <div class="card p-3">
                    <span>Paginas: <span id="npage">{{book.npages}} </span></span>
                    <div class="d-flex flex-row">
                        <span>Tags:</span>
                        <div class="d-flex flex-row flex-wrap">
                            {% for tag in book.tags.all %}
                                <span class="badge badge-danger m-1">{{tag}}</span>
                            {% endfor %}
                        </div>
                    </div>

                    
                </div>
            </div>
            <!-- Right Sector -->
            <div class="col">
                <!-- Book State Dropdown-->
                <div class="row">
                    <select name="book_state" id="book_state_dropdown" b_state="{{book_state}}" class="btn btn-secondary dropdown-toggle w-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <option value="None" {% if book_state == 'None'%} selected {% endif %}>Add to shelf</option>
                        <option value="Want to Read" {% if book_state == 'Want to Read'%} selected {% endif %}>Want to Read</option>
                        <option value="Reading" {% if book_state == 'Reading'%} selected {% endif %}>Reading</option>
                        <option value="Read" {% if book_state == 'Read'%} selected {% endif %}>Read</option>
                    </select>
                </div>
                <div class="row d-flex flex-column card p-3 mt-2">
                    <div>
                        {% if has_book %}
                            <form method="POST" id="star-rating" action="{{ request.path }}rate">
                                {%csrf_token%}
                                <div class="rating"> 
                                    <!-- https://stackoverflow.com/questions/1107737/numeric-for-loop-in-django-templates -->
                                    {% for i in '54321'|make_list %}
                                        <!-- https://bbbootstrap.com/snippets/star-rating-pure-css-19646372 -->
                                        <input type="radio" name="rating_v" value="{{ i }}" id="rating-{{ i }}" 
                                        {% if i == own_rating %}
                                        checked {% endif %}>
                                        <label for="rating-{{ i }}">☆</label> 
                                    {% endfor %}
                                </div>
                            </form>
                        {% endif %}
                    <!-- Rating -->
                    </div>
                    <div class="d-flex justify-content-center">
                        {% if rating.total%}
                            <span >El libro tiene una puntuación de {{ rating.total }}.</span>
                        {% else %}
                            <span>Este libro nunca se ha valorado</span>
                        {% endif %}
                    </div>
                    
                </div>
                <div class="row card p-3 mt-2">
                    {% if  user.is_authenticated %}
                        {% if has_book %}
                            <div class="d-flex justify-content-center">
                                <h4>Página actual</h4> 
                            </div>
                            <div class="d-flex justify-content-center">
                                <h6 id="act-page">{{act_page}}</h6>
                            </div>
                            <hr>
                            <div class="d-flex justify-content-center">
                                <p>¿Has leido más páginas?</p>
                            </div>

                            <input id="set-act-page" class="form-control" type="input" b_slug = "{{book.slug}}" placeholder="Pulsa enter para actualizar el número">
                        {% else %}
                            <p>You should consider adding this book to be able to track your progess!</p>
                        {% endif %}
                    {% else %}
                        <p>To add and track books you should register!</p>
                    {% endif %}
                </div>
            </div>
            
            
            
        </div>
    </div>    
</div>

{% if book.creator == request.user %}
    {% include 'widgets/fab.html' with icon="fa-cog"%}
{% endif %}

{% endblock %}