{% extends 'base.html' %}

{% block content %}
    <div class="card container-lg bg-light mt-5 shadow py-2 px-4">
        <div class="row">

            <div class="col">
                <div class="row">
                    {%if book.cover%}
                     <img src="{{book.cover.url}}" alt="{{book.title}} cover">
                    {%endif%}
                </div>
                <div class="row">
                    {% if book.book_file%}
                        <a class="btn btn-success" href="{{book.book_file.url}}"> Book File </a>
                    {% else %}
                        <a class="btn btn-success disabled" > Book File </a>
                    {% endif %}
                </div>

                
    
                
    
            </div>
            <div class="col">
                <h1>{{book.title}}</h1>
                <p> Escrito por {{book.author}}</p>
    
                <p> Tiene {{book.npages}} paginas</p>
            </div>
            
            
            
        </div>
    </div>    


{% endblock %}