{% extends 'base.html'%}
{% load i18n %}
{% block title%} {% trans 'Catalogo publico' %} | HistMat {% endblock %}

{% load static %}

{% block js%}    
    <script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js'></script>
    <script src="{% static 'js/Biblio/mycatalog.js' %}"> </script>
{% endblock %}


{% block css%}
<link type="text/css" href="{% static 'css/external/cptn03.css' %}" rel="stylesheet">
<link type="text/css" href="{% static 'css/Biblio/catalog.css' %}" rel="stylesheet">
{% endblock %}

{%block content%}
<div class="container">
    <div class="card p-3 rcorners2 my-3 shadow-sm">
        <div class="d-flex justify-content-center">
            <h1>
                <strong>
                    {% trans 'Catalogo Publico' %}
                </strong>
            </h1>
        </div>
    </div>
    
    <ul class="row infinite-container d-flex justify-content-around px-2">
        {% include 'Biblio/_books_no_ul.html' with books=books%}
    </ul>
    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
    {% endif %}
    <div class="d-flex justify-content-center" style="display:none;">
        <div id="loading-icon" class="spinner-border" role="status" style="display:none;">
            <span id="spd" class="sr-only">{% trans 'Cargando' %}...</span>
        </div>
    </div>
</div>

<script>
 $(document).ready( function() {
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('#loading-icon' ).show();
            },
            onAfterPageLoad: function ($items) {
                $('#loading-icon' ).css("display","none");
            }
            });
    });
    
</script>
    
{%endblock%}

