{% extends 'base.html' %}

{% block title %}
    My Catalog | HistMat
{% endblock %}

{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/simple-sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/widgets/search_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Biblio/catalog.css' %}">
    <link type="text/css" href="{% static 'css/external/cptn03.css' %}" rel="stylesheet">
    
{% endblock %}

{% block js%}
    {% csrf_token %}
    <script type="text/javascript">     window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
    <script src="{% static 'js/Biblio/widgets.js' %}"> </script>
    <script src="{% static 'js/Biblio/general.js' %}"> </script>
    <script src="{% static 'js/Biblio/mycatalog.js' %}"> </script>
    <script src="{% static 'js/Biblio/book_public.js' %}"> </script>

    <script>
        var fab = new Vue({
            el: '#fab-container',
            data: {
                create_url: "{% url 'biblio:book_create'%}"
            },
            methods: {
                fab_action: function (event) {
                    window.location = this.create_url;
                }
            }
        })
    </script>
    <script type="text/x-template" id="modal_book_item_template">
        {% include "Biblio/_book.html" %}
    </script>
    <script type="text/x-template" id="modal_book_list">
        {% include "Biblio/_book_shelf_list.html" %}
    </script>
    <script type="text/x-template" id="modal_book">
        {% include "Biblio/_book.vue" %}
    </script>
    

{% endblock %}

{% block content%}

<div class="p-0 m-0 bg-dark">
    
    <div id="catalog-app" > 
        <div id="wrapper" class="row d-flex flex-row flex-nowrap">
            {% include 'Biblio/_filter_sidebar.html'%}
            
            <div id="catalog-content" class="p-5">
                <div id="book-to-add" class="d-flex flex-wrap">
                    <modal_book_list 
                    v-for="book_list in book_lists"
                    v-bind:book_state='book_list.book_state'
                    v-bind:shelf_title='book_list.shelf_title'
                    v-bind:books='book_list.books'
                    ></modal_book_list>
                </div>
            </div>
    </div>
    </div>
</div>

{% include 'widgets/fab.html'%}
{% endblock %}