{% extends 'base.html' %}

{% block title %}
    My Catalog | HistMat
{% endblock %}

{% load static %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">    
    <link rel="stylesheet" type="text/css" href="{% static 'css/simple-sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/widgets/search_bar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Biblio/catalog.css' %}">
    <link type="text/css" href="{% static 'css/external/cptn03.css' %}" rel="stylesheet">
    
{% endblock %}

{% block js%}
    {% csrf_token %}
    <script type="text/javascript">     window.CSRF_TOKEN = "{{ csrf_token }}"; </script> 
    <script src="{% static 'js/Biblio/widgets.js' %}"> </script>
    <script src="{% static 'js/Biblio/general.js' %}"> </script>
    <script src="{% static 'js/Biblio/mycatalog.js' %}"> </script>
    <script src="{% static 'js/Biblio/book_public.js' %}"> </script>

    <script>
        var fab = new Vue({
            el: '#fab-container',
            data: {
                create_url: "{% url 'biblio:book_create'%}"
            },
            methods: {
                fab_action: function (event) {
                    window.location = this.create_url;
                }
            }
        })
    </script>

    

{% endblock %}

{% block content%}
{% include 'widgets/fab.html'%}
<div class="p-0 m-0 bg-dark">
    
    <div class="wrapper d-flex align-items-stretch" id="wrapper"> 
        <div>
            {% include 'Biblio/_filter_sidebar.html'%}
        </div>
        <div class="p-5 w-100">
            
            <div id="book-to-add">
                
                    
            </div>
        </div>
        
    </div>
</div>


{% endblock %}