<div id="book_state_dropdown" class="dropdown w-100">
    <button id="book_state_button" class="btn btn-secondary dropdown-toggle w-100" b_slug={{book.slug}} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {%load book_access%}
        {% if user.is_authenticated %}
            {% is_book_in_user user book as book_flag %}
            {% if book_flag %}
                {% get_book_state user book %}
            {% else %}
                Add Book
            {% endif %}
        {% else %}
            Add Book
        {% endif %}
        
    </button>
    <div class="dropdown-menu w-100" aria-labelledby="book_state_button">
        <input type="button" class="dropdown-item" value="Want to Read" >
        <input type="button" class="dropdown-item" value="Reading" >
        <input type="button" class="dropdown-item" value="Read">
    </div>
</div>