<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle book_state_button" b_id={{book.id}} data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {%load book_access%}
        {% if user.is_authenticated %}
            {% is_book_in_user user book as book_flag %}
            {% if book_flag %}
                {% get_book_state user book %}
            {% else %}
                Add Book
            {% endif %}
        {% else %}
            Add Book
        {% endif %}
        
    </button>
    <div class="dropdown-menu" aria-labelledby="book_state_button">
        <input type="button" class="dropdown-item book_state_form_field" b_id="{{book.id}}" value="Want to Read" >
        <input type="button" class="dropdown-item book_state_form_field" b_id="{{book.id}}" value="Reading" >
        <input type="button" class="dropdown-item book_state_form_field" b_id="{{book.id}}" value="Read">
    </div>
</div>