<div class="card widget p-4  my-3 shadow">
    <h2 class="widget-title pb-3">Busqueda</h2>
    <form action="/{{search_direction}}" accept-charset="UTF-8" method="GET" class="form-inline">
        <div class="input-group flex-fill">
            <input type="search" name="search" placeholder="¿Qué estas buscando?" class="form-control" /> 
            <div class="input-group-append">
                <input class="btn btn-primary " type="submit" name="commit" value="Buscar">
            </div>
        </div>
    </form>
</div>