<nav class="navbar navbar-expand-md navbar-light m-0 shadow">
    <div class="d-flex" id="navbar-logo">
        <a href="/" class="navbar-brand font-weight-bold" style ="font-size: 2.5rem;">
            HistMat
        </a>
    </div>
    
    <div clas="navbar-collapse collapse" id="navbar-url">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'biblio:public_catalog'%}">Catalog</a>
            </li>
            {% if user.is_authenticated%}
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'biblio:mycatalog'%}">My Books</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'trivia:quiz_home'%}">Trivia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'apuntes:apuntes'%}">Apuntes</a>
              </li>
        </ul>
    </div>
    
    <!-- No se porque si lo quito, el boton de login vuelve a la izquierda-->
    <div class="navbar-collapse collapse" >
    </div>

    <div class="navbar-nav" id="navbar-user">
        {% if user.is_authenticated %}
            {% include 'Users/_user_menu.html'%}
        
        {% else %}
            <a class=" nav-item nav-link" href="{% url 'social:begin' 'google-oauth2' %}">
                Login
            </a>
        {% endif %}
    </div>
</nav>