{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <!--Meta-->
    <meta charset="UTF-8">

    {% load bootstrap4 %}
    {% bootstrap_css %}

    <!-- Web CSS-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css%}
    {% endblock%}

    

    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">

    
</head>

<body>
    {% if anchor %}
        <script type='text/javascript'>
        $(document).ready(function(){
            window.location = '#{{ anchor }}'
        });
        </script>
    {% endif %}
    
    <div class="content">
        <!-- Navbar  -->
        {% include '_navbar.html'%}

        <!-- Main Body -->
        <div id="main-content bg-success">
                {% block content %}
                {% endblock %}
        </div>
    </div>

    <!-- Footer section -->
    <footer class="footer py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; HistMat</small>
        </div>
    </footer>
    <!-- Basic libraries -->
    
    {% bootstrap_javascript jquery='full' %}
    <!-- Web JS-->
    {% block js%}
    {% endblock%}
</body>
</html>