{% load static %}

<!DOCTYPE html5>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <!--Meta-->
    <meta charset="UTF-8">

    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    
    
    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'jquery-ui/ui-lightness/theme.css' %}" />
    <script src="{% static 'jquery-ui/external/jquery/jquery.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'jquery-ui/i18n/datepicker-zh-Hans.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <!--
        DRAG AND DROP
    -->
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>


    <!-- Web CSS-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    {% block css%}
    {% endblock%}

    {% csrf_token %}

    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>
    {% if anchor %}
        <script type='text/javascript'>
        $(document).ready(function(){
            window.location = '#{{ anchor }}'
        });
        </script>
    {% endif %}

    <!-- Navbar  -->
    {% include '_navbar.html'%}
    
    <div class="content">
        
        <!-- Main Body -->
        <div id="main-content bg-success">
                {% block content %}
                {% endblock %}
        </div>
    </div>

    <!-- Footer section -->
    <footer class="footer py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; HistMat</small>
        </div>
    </footer>
    <!-- Basic libraries -->
    
    
    <!-- Web JS-->
    {% block js%}
    {% endblock%}
</body>
</html>