{% extends 'base.html' %}
{% load i18n %}

{% block title%} HistMat | Home {% endblock%}

{% block js %}
{% load static %}

<script src="{% static 'js/home.js'%}"></script>
{% endblock %}

{% block content %}

<div id="home-app" class="container bg-light h-100 p-3 px-5 shadow">
    <div class="pt-2">
        <div class="d-flex justify-content-center">
            <h2>Ultimas acciones</h2>
        </div>
        <hr>
        
        <div class="d-flex justify-content-center container">
            <div class="d-flex flex-column w-100">
                {% for action in action_list %}
                    <div class="home_action card w-100 my-2 shadow" style="display: none;">
                        <div class="d-flex flex-row p-3">
                            {% if user.profile_image_t11 %}
                                <img class="rounded" src="{{ user.profile_image_t11.url }}" width="100" height="100" alt="{{ action.autor.username }} profile pic" />
                            {% endif %}
                            <div class="card-body p-2 pt-3"><h6>{{action.text|safe}}</h6></div>
                            
                        </div>
                        <div class="card-footer p-1">{{action.timestamp}}</div>
                    </div>
                {% empty %}
                    <h3>No hay cambios en la lista</h3>
        
                {% endfor %}
                </div>
        </div>
        
        
    </div>
    
    </div>

{% endblock %}