{% extends 'base.html' %}
{% load i18n %}

{% block title%} HistMat | Home {% endblock%}


{% block content %}

<div class="container bg-light h-100 p-3 px-5 shadow">
    <div class="pt-2">
        <div class="d-flex justify-content-center">
            <h2 style="font-size:100px">
                {% trans "Bienvenido a HistMat" %}
            </h2>
            
        </div>
        <div class="d-flex justify-content-center">
            <h4>{% trans 'La página web del futuro, para el alumno del presente'%}</h4>
        </div>
        <hr>
        <div class="d-flex justify-content-center">
            <img class="img-fluid" src="https://media.istockphoto.com/photos/happy-people-studying-with-laptop-picture-id1042008006">
        </div>
    </div>
    
    </div>

{% endblock %}