{% extends 'base.html'%}
{% load i18n %}

{% block title %} {% trans 'Contactos' %} | HistMat {% endblock %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">  
{% endblock %}

{% block js%}
    
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>

    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
        apiKey: "AIzaSyCUxpfoX2qA7mAl9KTZVuiCGfpkdq7LeGU",
        authDomain: "histmat-292517.firebaseapp.com",
        projectId: "histmat-292517",
        storageBucket: "histmat-292517.appspot.com",
        messagingSenderId: "973587187280",
        appId: "1:973587187280:web:c528847a3c7fc7d69ab355",
        measurementId: "G-L22KNZFMYK"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        var db = firebase.firestore();
    </script>
    <script type="module" src="{% static 'js/contact.js'%}"></script>

{% endblock %}

{% block content %}

<div id="contact-app" class="container mt-3">

    <div id="fab-container" class="fab-container">
        <div class="fab-icon-holder" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-plus"></i>
        </div>
    </div>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{% trans 'Crear contacto'%}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <label for="nombreInput">{% trans 'Nombre'%}</label>
                            <input type="text" maxlength=32 v-model="contact.name" class="form-control" id="nombreInput" aria-describedby="nameHelp" placeholder="{% trans 'Escribe tu nombre.'%}">
                        </div>
                        <div class="col">
                            <label for="surnameInput">{% trans 'Apellido'%}</label>
                            <input type="text" maxlength=32 v-model="contact.surname" class="form-control" id="surnameInput" aria-describedby="surnameHelp" placeholder="{% trans 'Escribe tu apellido.'%}">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="emailInput">{% trans 'Email'%}</label>
                    <input type="email" v-model="contact.email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="{% trans 'Introduce tu email.'%}">
                </div>
                <div class="form-group">
                    <label for="phoneInput">{% trans 'Telefono'%}</label>
                    <input type="tel" v-model="contact.phone" class="form-control" id="phoneInput" aria-describedby="emailHelp" placeholder="{% trans 'Introduce tu telefono.'%}">
                </div>
                <div class="form-group">
                    <label for="directionInput">{% trans 'Direccion'%}</label>
                    <input type="text" v-model="contact.direction" class="form-control" id="directionInput" aria-describedby="emailHelp" placeholder="{% trans 'Introduce tu direccion.'%}">
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" v-model="contact.marle" class="custom-control-input" id="marxistInput">
                    <label class="custom-control-label" for="marxistInput">Es marxista-leninista</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" v-model="contact.luxem" class="custom-control-input" id="luxemInput">
                    <label class="custom-control-label" for="luxemInput">Es luxemburguista</label>
                </div>
            </div>
            <div class="p-3">
                <span v-if="errors.length > 0"> <strong> {% trans 'Errores' %}</strong></span>
                <div class="card bg-danger p-1 m-1" v-for="error in errors">
                    <span class="text-light">[[error]]</span>
    
                </div>
            </div>
            
            <div class="modal-footer">
                <small>{% trans 'No se comparten datos personales' %}</small>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Cerrar' %}</button>
                <button type="button" @click="add_contact" class="btn btn-primary">{% trans 'Guardar contacto'%}</button>
            </div>
          </div>
        </div>
      </div>

    <div v-for="(contact_t, index) in contact_list" :key="index">
        <div class="card shadow my-1">
            <div class="text-capitalize">
                <a class="w-100 btn btn-primary" data-toggle="collapse" v-bind:href="'#contact'+index" 
                        role="button" aria-expanded="false" v-bind:aria-controls="'contact'+index">
                    <h3>
                        <i class="fas fa-id-card"></i>
                        <strong v-if="contact_t.surname">[[contact_t.surname]],</strong>
                        <strong>[[contact_t.name]]</strong>
                    </h3>
                </a>
            </div>
            <div class="collapse" v-bind:id="'contact'+index" >
                <div class="p-2 d-flex flex-column">
                    <label v-if="contact_t.phone"> <i class="fas fa-phone"></i> [[contact_t.phone]]</label>
                    <label v-if="contact_t.email"><i class="fas fa-envelope"></i> [[contact_t.email]]</label>
                    <label v-if="contact_t.direction"><i class="fas fa-street-view"></i> [[contact_t.direction]]</label>
                </div>
                <div class="d-flex flex-row p-2">
                    <label class="badge badge-success m-1" v-if="contact_t.marle">Es marxista-leninista</label>
                    <label class="badge badge-primary m-1" v-if="contact_t.luxem">Es luxemburguista</label>
                </div>
                
            </div>
        </div>
    </div>

</div>

{% endblock %}