/*
    Documentation

    Derived from:
        - Floating Action Button in CSS : https://www.youtube.com/watch?v=iYFNaeEeCDI
*/

.fab-container {
    position: fixed;
    bottom:50px;
    right: 50px;
    z-index: 999;
    cursor: pointer;
}

.fab-icon-holder{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #016fb9;

    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.fav-icon-holder:hover{
    opacity: 0.8;
}

.fab-icon-holder i {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    font-style: 50px;
    color: #ffffff;
}