<!-- 
    https://mdbootstrap.com/docs/jquery/navigation/navbar/
    https://getbootstrap.com/docs/4.0/components/dropdowns/
-->
{% load i18n %}
<div>
    <!-- <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="rounded-circle z-depth-0"
        alt="avatar image"> </a>-->
        <a href="{{user.get_absolute_url}}">
            {{user.username}} 
        </a>
    <button type="button" class="btn btn-default" 
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="dropdownMenuLink">
        
        {% if user.profile_image%}
            <img src="{{user.profile_image.url}}" class="user_thumbnail rounded-circle" ></img>
        {% else %}
            <i class="fa fa-user" class="user_thumbnail rounded-circle"></i>
        {% endif %}
    </button>
    <div class="dropdown-menu dropdown-menu-right my-0" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item px-3" href="{{ user.get_absolute_url }}">
            <span><i class="fa fa-user mr-2"></i>  {% trans 'Perfil'%}</span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item px-3" href=" {{ user.get_absolute_config_url }} ">
            <span><i class="fa fa-cog mr-2"></i>   {% trans 'Configuracion' %} </span>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item px-3" href="{% url 'users:logout' %}">
            <span><i class="fa fa-sign-out mr-2"></i>  {% trans 'Cerrar Sesion' %} </span>
        </a>
    </div>
</div>
