{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="{% static 'css/Users/users2.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
    <div class = "col-md-12 mt-4">
        <div class = "card mb-4">
            <div class = "card text-center">
                <div class = "card-header">
                    {% if is_searching %}
                        <h2 class = "card-title"> Busqueda de Usuarios </h2>
                    {% else %}
                        <h2 class = "card-title"> Todos los amigos</h2>
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                {% for profile in user_list %}
                    <div class = "card mb-2">
                        <div class="card-horizontal">
                            <p>&emsp;</p>
                            <div class="img-square-wrapper">
                                {% if profile.profile_image %}
                                    <img src='/HistMat/media/{{profile.profile_image}}' alt="Admin" class="rounded-circle" width="95" height="95">
                                {% else %}
                                    <div class="row">
                                        <p>&emsp;&#160;&#160;&#160;</p>
                                        <i class="fa fa-user" class="user_thumbnail rounded-circle" style="font-size:80px";></i>
                                        <p>&emsp;&#160;&#160;&#160;</p>
                                    </div>
                                {% endif %}
                            </div>
                            <p>&emsp;&emsp;&emsp;&emsp;&emsp;</p>
                            <div class="card-body">
                                <div class="row">
                                    <div class= "col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-4">
                                              <h6 class="mb-0">Nombre de usuario / Nivel</h6>
                                            </div>
                                            <div class="col-sm-8 text-secondary">
                                              {{profile.username}} / {{profile.level}}
                                            </div>
                                        </div>  
                                        <div class="row">
                                            <div class="col-sm-4">
                                              <h6 class="mb-0">Centro de estudios</h6>
                                            </div>
                                            <div class="col-sm-8 text-secondary">
                                              {{profile.study_center}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-4">
                                              <h6 class="mb-0">Pais / Ciudad</h6>
                                            </div>
                                            <div class="col-sm-8 text-secondary">
                                                {{profile.country}} / {{profile.city}}
                                            </div>
                                        </div> 
                                    </div>
                                    <div class= "col-sm-3">
                                            <a class="btn btn-primary" href="{% url 'users:user_detail' profile.pk %}">
                                                Visitar perfil
                                            </a> 
                                    </div>
                                </div>       
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p> Todavia no sigues a ningun usuario</p>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}