{% extends 'base.html' %}


{% block content%}
<p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p>
<div class="d-flex flex-column align-items-center text-center">
    <img src='https://media.tenor.com/images/5c71496d21dc5820c2169738fd3c8a88/tenor.gif' alt="crying">
    <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p>
    <form method="post">
        {% csrf_token %}
        <p>Estas seguro de que quieres eliminar tu cuenta "{{ object }}"? Esta accion es irreversible y perderas todo el progreso de tu cuenta</p>
        <input class="btn btn-danger" type="submit" value="Si, estoy seguro">
    </form>
</div>

{% endblock %}