{% extends 'base.html'%}

{% load static %}
{% block css%}
    {% if request.is_authenticated %}
        {% if request.user.is_superuser or request.user.is_content_editor%}
            <link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">  
        {% endif %}
    {% endif %}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js'></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js'></script>

{% endblock %}

{% block js %}
{% if request.is_authenticated %}
{% if request.user.is_superuser or request.user.is_content_editor%}
<script>
    var fab = new Vue({
        el: '#fab-container',
        data: {
            create_url: "{% url 'blog:blog_create'%}"
        },
        methods: {
            fab_action: function (event) {
                window.location = this.create_url;
            }
        }
    })
</script>
{% endif %}
{% endif %}
{% endblock %}

{% block content%}
<div class='container bg-light p-3'>
    {% for blog in blogs %}

        <div class="card bg-light shadow p-0 m-2">
            {% if blog.thumbnail%}
                <img  src="{{blog.thumbnail.url }}" alt="{{blog.title}} cover" class="img-fluid w-100" style="height:200px;">
            {% endif %}
            <div class="p-3">
                <h1><a href = "{{blog.get_absolute_url}}">{{blog.title}}</a></h1>
                <p> {{blog.text|truncatechars:100}}</p>
            </div>
            <div class="card-footer p-1">{{blog.created}}</div>
        </div>

    {% endfor %}
</div>
{% endblock %}


{% block widgets %}
    {% if request.is_authenticated %}
        {% if request.user.is_superuser or request.user.is_content_editor%}
            {% include 'widgets/fab.html'%}
        {% endif%}
    {%endif%}
{% endblock %}