{% extends 'base.html'%}

{% block title %} {{blog.title}} | HistMat {% endblock %}

{% load static %}

{% block css%}
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser or request.user.is_content_editor %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/widgets/fab.css' %}">  
        {% endif %}
    {% endif %}
{% endblock %}

{% block js %}
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser or request.user.is_content_editor %}
            <script>
                var fab = new Vue({
                    el: '#fab-container',
                    data: {
                        create_url: "{% url 'blog:blog_update' blog.slug%}"
                    },
                    methods: {
                        fab_action: function (event) {
                            window.location = this.create_url;
                        }
                    }
                })
            </script>
        {% endif %}
    {% endif %}
{% endblock %}


{% block content %}
<div class="container bg-light shadow-sm my-4 p-0 rcorners2">
    {% if blog.thumbnail%}
        <img  src="{{blog.thumbnail.url }}" alt="{{blog.title}} cover" class="img-size-limit w-100 rcornerst" style="height:400px;">
    {% endif %}
    <div class="p-3">
        <span class="px-3"><small>{{blog.created}}</small></span>
        <h1><strong>{{blog.title}}</strong></h1>
        <p> {{blog.text|safe}}</p>
    </div>
    
</div>


{% endblock %}

{% block widgets %}
    {% if request.user.is_authenticated %}
        {% if request.user.is_superuser or request.user.is_content_editor %}
            {% include 'widgets/fab.html' with icon="fa-cog" %}
        {% endif %}
    {% endif %}
{% endblock %}