name: Build & Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:10.8
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: github_actions
        ports:
          - 5432:5432
        
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5


    steps:
      - uses: actions/checkout@v1
      - name: Set up Python 3.7
        uses: actions/setup-python@v1
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run migrations
        run: |
          python manage.py makemigrations
          python manage.py migrate
          python manage.py makemigrations UserMechanics
          python manage.py migrate
      - name: Run tests
        env:
          DEBUG : True
          SECRET_KEY: ${{secrets.SECRET_KEY}}
          GOOGLE_KEY: ${{secrets.GOOGLE_KEY}}
          GOOGLE_SECRET: ${{secrets.GOOGLE_SECRET}}
        run: python manage.py test